<h1>Show Property</h1>

<% if logged_in? %>
<h2>You are logged in as <%= @user.name %><br></h2>
<%else%>
<h2>You are currently not logged in</h2><br>
<%end%>


<h2>Property Name: <%= @property.property_name %></h2>
<p>Property Address: <%= @property.property_address %></p>
<p>Property Info: <%= @property.property_info %></p>
<p>Property Price: RM<%= @property.property_price %> per month</p>
Posted by: <%= @property.user.name%> <br><br>


<p>Booking Info: <%= @booking.booking_notes %></p>


Comments: <br>

<% @comments.each_with_index do |comment, index| %>
<%= "#{index + 1}) [#{comment.user.name}] '#{comment.comment}'  "%>
		<%end%>

<br><br>


<% if logged_in? %>

	<% if @property.user.id == current_user.id %>
		<a href="/property/<%= @property.id %>/edit"><button>Edit Property</button></a>
	<%end%>

	<br>
	<br>

<a href="/property/<%= @property.id %>/comments/new"><button>Add new comment</button></a><br><br>

<a href="/property/<%= @property.id %>/booking/new"><button>New booking</button></a><br><br>

<!-- 	<form action="/property/<%= @property.id %>" method="post">
		<input type="hidden" name="booking" value="true">
		<input type="submit" value="Make Booking">
		</form>

		<form action="/property/<%= @property.id %>" method="post">
		<input type="hidden" name="booking" value="false">
		<input type="submit" value="Cancel Booking">
	</form>v -->

	<a href="/property/new"><button>Create new Property</button></a>
		<br>
		<br>
	<a href="/users/<%= @user.id %>"><button>View My Profile</button></a>
		<br>
		<br>
	<a href="/users/<%= @user.id %>/edit"><button>Edit My Profile</button></a>
		<br>
		<br>
	<a href="/users/logout"><button>LOGOUT</button></a>
	<a href="/"><button>HOME</button></a>

<%else%>

	<h2>For existing users Login</h2>
		<a href="/login"><button>Login</button></a>
		<br>
		<br>
	<h2>For new users Sign Up</h2>
		<a href="/users/new"><button>Sign Up</button></a>
		<br>
		<br>
	<a href="/"><button>HOME</button></a>
	
<%end%>